@import './layout';
@import './mixins';
@import './normalize';
@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading__primary {
  color: red;
}

.container {
  padding-bottom: 20px;
}

.h3 {
  color: grey !important;
}
.my-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.658);

  & p {
    font-size: 14px;
    color: rgba(128, 128, 128, 0.808);
  }
}

.navigation {
  width: 100%;
  background: black;
  height: auto;
  padding: 2px 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  & .btn {
    display: flex;
    align-items: center;
  }
  & .btn:hover {
    background: orange;
  }
}
